<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .container {
      display: grid;
      height: 500px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 10px;
      grid-template-areas:
        "a a b"
        "d c b";
    }
    .item {
      background: #ccc;
    }

    .item-a {
      grid-area: a; 
    }

    .item-b {
      grid-area: b;
    }

    .item-c {
      grid-area: c;
    }

    .item-d {
      grid-area: d;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="item item-a">A</div>
    <div class="item item-b">B</div>
    <div class="item item-c">C</div>
    <div class="item item-d">D</div>
  </div>
</body>
</html>