<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    main {
      display: flex;
      border: 1px solid #000;
      padding: 4px;
      justify-content: space-around;
    }

    main div {
      background-color: red;
      min-height: 100px;
      width: 150px; 
    }
  </style>
</head>
<body>
  <main>
    <div></div>
    <div></div>
    <div></div>
  </main>
</body>
</html>